.glitch-wrap{
    position:relative;
    display:inline-block;
    margin-bottom:6px;
}
.gname{
    font-size:clamp(42px,6vw,72px);
    font-weight:700;
    color:#f0eeff;
    letter-spacing:-0.03em;
    line-height:1.05;
    display:block;
}
.gname::before{
    content:'Thisal Nanayakkara';
    position:absolute;
    top:0;left:0;
    color:#7F77DD;
    clip-path:polygon(0 20%,100% 20%,100% 42%,0 42%);
    transform:translateX(-3px);opacity:0.55;
    font-size:clamp(42px,6vw,72px);
    font-weight:700;
    letter-spacing:-0.03em;
    line-height:1.05;}
.gname::after{
    content:'Thisal Nanayakkara';
    position:absolute;
    top:0;left:0;
    color:#CECBF6;
    clip-path:polygon(0 58%,100% 58%,100% 78%,0 78%);
    transform:translateX(3px);
    opacity:0.35;
    font-size:clamp(42px,6vw,72px);
    font-weight:700;
    letter-spacing:-0.03em;
    line-height:1.05;
}

